@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>
        <h4>
            Zarejestruj się na stronie aby uzyskać dostęp do szerszej zawartości
        </h4>
    </p>
</div>
